.container h3 {
  color: rgb(93, 26, 26);
}

.container h2 {
  font-size: 25px;
  color: rgb(18, 14, 7);
}
.container {
  border: 3px solid grey;
  background-color: rgba(226, 148, 59, 0.662);
  border-radius: 10px;
  width: 270px;
  padding: 10px;
  box-shadow: 0 0 10px;
  display: flexbox;
  margin: auto;
}

.button {
  background-color: rgb(158, 57, 46);
  color: rgb(213, 213, 213);
  border-radius: 5%;
  margin-bottom: 15px;
}
