.container {
  display: flex;
  width: 350px;
  height: 320px;
  background-color: rgba(127, 255, 212, 0);

  border: 3px solid grey;
  border-radius: 10px;
  width: 170px;
  padding: 10px;
  box-shadow: 0 0 10px;
}

.container image {
  size: 300px;
}
.container h3 {
  color: brown;
}
