.container {
    color: blue;
    font-display: flex;
    margin: auto;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 80px;
}

.container input {
border-radius: 10%;
height: 30px;
}

.container button {
    border-radius: 15%;
    height: 25px;
    color: rgb(182, 48, 82);
    background-color : rgb(52, 154, 167);
}